/*
Program name: style.css
Author: Katherine Chin
Date created: 02/24/2026
Date last edited: 02/27/2026
Version: 1.0
Description: External stylesheet for patient-form.html - MIS3371 Homework 1
*/

body {
  background-color: rgb(13, 31, 60);
  color: #e8f0fe;
  margin: 0;
  height: 100%;
}

h1, h2 {
  font-family: Georgia, serif;
  font-weight: bold;
  text-align: center;
}

main {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
}

.btn-row {
  text-align: center;
}

.image {
  text-align: left;
}

table {
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
}

td {
  padding: 6px 10px;
  vertical-align: top;
}

th {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

label {
  text-align: right;
  font-family: 'Times New Roman', Times, serif;
}

input {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}

textarea {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}

a {
  color: #4a90d9;
}

a:visited {
  color: #9b59b6;
}

footer {
  position: flex;
  bottom: 0;
  width: 100%;
  background-color: rgb(13, 31, 60);
  height: 3.0rem;
}

#header {
  background-color: rgb(13, 31, 60);
  color: white;
  padding: 15px 30px;
}

#footer {
  text-align: right;
  font-family: 'Times New Roman', Times, serif;
  margin-right: 10px;
}

#dateDisplay {
  color: #a8c4e8;
  font-family: 'Times New Roman', Times, serif;
}

#main {
  padding: 20px 40px;
  background-color: #ffffff;
  color: rgb(13, 31, 60);
}

input[type="submit"] {
  background-color: rgb(13, 31, 60);
  color: white;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

input[type="submit"]:hover {
  background-color: #1a3a6b;
}

input[type="reset"] {
  background-color: #8b0000;
  color: white;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

input[type="reset"]:hover {
  background-color: #a00000;
}

/* END OF DOCUMENT: style.css - Katherine Chin - MIS3371 Homework 1 */
